#wrapper{
  background-color: #ececec;  
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;  
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 25px;
  margin-top: 20px;
}


#dialog{
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.divider{
  border-left: 1px solid darkgray;
  height: 100%;
}