#container{
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
}

#container{
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-bottom: 50px;
    margin-top: 50px;
}